*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* root styling*/
:root{
    --fontWeight8: 800; 
    --fontWeight6: 600; 
    --primaryColor: #E9ECFB;
    --heroColor: aliceblue;
    --sColor: #21242A;
    --secondaryColor: #121315;
    --sColorTrans: rgba(33, 36, 42, 0.5);
    --privacyBg: #0A2F30;
    --thinWhite:#C0C0C0;
    --highlight: coral;
    --svgColorOverlay: #00254B;

    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
    --boxShadowLight: 0px 0px 10px var(--thinBlack);
    --containerShadow: 0px 0px 50px rgba(0, 0, 0, 0.29);

    --borderRadius12: 12px ;
    --borderRadius8:8px ;
    --borderRadius4: 4px ;
    --bRadiusHalf: 50%;    
    --padding: 1rem;
    --paddingHalf: 0.5rem;

    --formInputColor:#f3f2f2;
    --darkFormInputColor: #353840;
    --thinBlack:#1F1F1F;
    
}

.noDisplay{
    display: none;
}
img{
    display: block;
}
li, a{
    list-style: none;
    text-decoration: cente;
}

li, a, p, h1, h2, h3, button{
    color: var(--secondaryColor);
}

textarea{
    resize: none;
}

/* SPECIAL CLASS AND STYING */


/* Hide the answers by default */
.faqAnswer {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    padding-left: 10px;
    transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.4s ease, margin 0.5s ease;
    line-height: 25px;
    font-weight: var(--fontWeight6);
    padding-right: 20px;
}

/* This class will be added/removed by JavaScript */
.faqAnswer.show {
    max-height: 300px;
    margin-top: 10px;
    transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.4s ease, margin 0.5s ease;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid var(--thinBlack);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:var(--secondaryColor);
    border: 1px solid var(--thinWhite);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondaryColor);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modal {
    padding: 1rem;
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
    color: var(--flatWhite);
    z-index: 1;
    font-weight: 700;
    border-radius: var(--borderRadius12);
    box-shadow: var(--box-shadow);
    border: none;
    min-width: 200px;
    width: 90%;
    max-width: 600px;
    height: 30%;
    text-align: center;
    place-content: center;
    overflow: hidden;

    animation-name: errorDisplay;
    animation-iteration-count: 1;
    animation-duration: .90s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.modalContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-wrap: nowrap;
}

.modalContainer .openIcon i{
    cursor: pointer;
    gap: 1rem;
    place-content: center;
    text-align: center;
    padding: var(--paddingHalf);
    border-radius: var(--borderRadius4);
    width: 30px;
    height: 30px;
}

.modalContainer .openIcon i:hover{
    background-color: var(--thinWhite);
}

.modalContainer .dataRetrived{
    width: 100%;
    max-width: 420px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.xIcon{ 
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    font-size: 0.8rem;
    top: 0px;
    right: 0px;
    padding: var(--padding);
    text-align: center;
    place-items: center;
    
}

.addUrlBtn i,
.xBtn i{
    cursor: pointer;
    transition: 0.5s ease-in-out background-color;
    padding: var(--paddingHalf);
    width: 30px;
    height: 30px;
    place-content: center;
    text-align: center;
}

.addUrlBtn i:hover,
.xBtn i:hover {
    transition: 0.5s ease-in-out background-color;
    background-color: var(--thinWhite)
}

.xBtn i:hover{ 
    background-color: #FF0101;
    color: var(--primaryColor);
}


@keyframes errorDisplay {
    0% {
        top: -10%;
    }

    20% {
        top: 5%;
    }

    50% {
        top: 10%;
    }

    60% {
        top: 10%;
    }

    70% {
        top: 10%;
    }

    80% {
        top: 10%;
    }

    90% {
        top: 10%;
    }

    100% {
        top: 50%;
    }

}

/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    margin-bottom: 1px
    
}

header nav ul{
    display: flex;
    gap: 1rem;
}

header nav ul li{
    list-style: none;
}

/* hero / landing  */
.landingHero{
    text-align: center;
    background-color: aliceblue;
    padding: 3rem 1rem 3rem 1rem;
    
}

.landingHero h1{
    letter-spacing: 1px;
    line-height: 45px;
    
}
.landingHero div{
    line-height: 25px;
    
}

.main{
    display: flex;
    flex-direction: column;
}


.capContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    place-content: center;
    box-shadow: var(--box-shadow);
    margin: auto;
    border-radius: var(--borderRadius8);
    color:black;
    overflow: hidden;
    width: 300px;
    padding: 1rem;
}

.capContainer .capture{
    text-align: center;
    place-content: center;
    border-radius: var(--borderRadius8);
    font-weight: var(--fontWeight6);
    border: 1px solid var(--highlight);
    object-fit: cover;
    width: 100%;
    min-width: 290px;
    max-width: 600px;
    height: 400px;
    overflow: hidden;

}

/* this is for video */
/* Make the video fill the container cleanly */
#webcam {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    object-fit: cover; /* Crops video to fill container without stretching */
    /*transform: scaleX(-1);  Mirrors the stream for a natural selfie/viewing experience */
    
}
  
.capContainer .capElements{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding: var(--padding);
}
  
.capContainer .capElements{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding: var(--padding);
}

.capContainer div .startCamBtn,
.capContainer div .stopCamBtn{
    cursor: pointer;
    background-color: var(--svgColorOverlay);
    font-weight: var(--fontWeight6);
    border-radius: var(--borderRadius4);
    color:var(--primaryColor);
    text-align: center;
    place-content: center;
    padding: var(--paddingHalf);
}

.capContainer .flashlight{
    width: 40px;
    text-align: center;
    place-content: center;
}

.capContainer .flashlight i{
    cursor: pointer; 
    width: 40px;
    height: 40px;
    border-radius: var(--bRadiusHalf);
    border: 1px solid var(--thinBlack);
    text-align: center;
    place-content: center;
}

/* this is for selecting image section in the home page*/
.previewBox{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    text-align: center;
    place-content: center;
    font-weight: var(--fontWeight8);
    font-size: 1.55rem;
    transition: all 0.3s ease;
    /* Note: to remove cursor when this element is inspecting in the Dev  */
    padding: 0.2rem;
    /* pointer-events: none; */

}

/* The Image itself */
.previewBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the container perfectly */
    transition: opacity 0.3s ease;
}

.imageBtn{
    font-weight: var(--fontWeight8);
    cursor: pointer;
    color: white;
    padding: var(--padding);
    background-color: var(--svgColorOverlay);
    display: block;
    border-radius: var(--borderRadius4);
    margin-bottom: 15px;
}

.featureContainer{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: var(--padding);
}

.featureContainer h1{
    font-size: 2.25rem;
    margin-top: 1rem;
}

.featureContainer .featureInner{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.featureContainer .featureInner .featureEle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.featureContainer .featureInner .featureEle .item{
    padding: 2rem var(--paddingHalf);
    border-radius: var(--borderRadius8);
    border: 1px solid var(--thinWhite);
    background-color: var(--primaryColor);

}

.featureContainer .featureInner .featureEle .item div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}

/* how to use the scanner section */
.howContainer{
    padding: 1rem;
    background-color: aliceblue;
}

.howContainer .howInner{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.howContainer .howInner .howEle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.howContainer .howInner .howEle div {
   margin-top: var(--paddingHalf);
   gap: 1rem;
}

.howContainer .howInner .howEle div p{
   line-height: 25px;
}

.howContainer .howInner .howEle div .howItWorks {
    margin-top: 1rem;
}

.howContainer .howInner .howEle div ul li{
   margin-top: 1rem;
   gap: 1rem;
}

.howContainer .howInner .howEle div .howTitle{
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: var(--marginHalf);
}

.howContainer .howInner .howEle div .howTitle h3{
    font-size: 1.4rem;
}

/* this is for scan from qr code image  */
.howContainer figure{
    text-align: center;
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius8);
    border: 1px solid var(--thinWhite);
    place-content: center;
    min-width: 300px;

   
}

.howContainer figure img{
    text-align: center;
    place-content: center;
    margin: auto;
}

/*  Question section within the index */
.queContainer{
    padding: var(--paddingHalf);
}
.queContainer h1{
    margin-bottom: 2rem;
}

.queContainer .questions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.queContainer .queItem{
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor);
    padding: 1rem 10px;
    border-radius: var(--borderRadius8);
    border: 1px solid var(--thinWhite);
}

.queContainer .queItem h3{
    cursor: pointer;
}

/* Contact section within the contact page */
.contactHero{
    padding: var(--padding);
    line-height: 30px;
    text-align: center;
    place-content: center;
}

.formHeading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

/* form section within the contact page */
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--padding);
    width: 100%
}

.formContainer form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formContainer form .formInner{
    display: flex;
    gap: .2rem;
}


.formContainer input,
.formContainer textarea{
    width: 100%;
    border: 1px solid var(--sColorTrans);
    offset: none;
    padding: var(--paddingHalf);
    border-radius: var(--borderRadius4);
    background-color: var(--formInputColor);
    font-weight: var(--fontWeight6);
    font-size: 1rem;

}

.formContainer textarea{
    font-weight: var(--fontWeight6);

}

.formContainer textarea:focus,
.formContainer input:focus{
    border: 1px solid;
    outline: none;
    
}

.formContainer .submitBtn{
    background-color: var(--svgColorOverlay);
    color: var(--primaryColor);
    transition: 0.5s ease background-color;
}

.formContainer .submitBtn:hover{
    background-color: var(--darkFormInputColor);
    color: var(--primaryColor);
    transition: 0.5s background-color;

}

.quickDetailContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem; 
}

.quickDetailContainer .quickHeading {
    display: flex;
    align-items: center;
    gap: 5px
}

.quickDetailContainer .quickCallService {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.footerContact {
    padding: var(--padding);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* footer section */
.footer {

    border-top: 1px solid var(--thinWhite);
    border-left: 1px solid var(--thinWhite);
    border-right: 1px solid var(--thinWhite);
    border-bottom: 1px solid var(--thinWhite);
    margin: 0.6rem;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.footer .footInner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 20px;
}

.footer .footerBrand {
    display: flex; 
    justify-content: space-around;
    gap: 1rem;
}

.footerContainer h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.footerContainer .prodContainer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerContainer .prodContainer ul li {
    list-style: none;
}

/* this is for contact section within the footer section */
.footerContainer .prodContainer .contInner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

/* this is for contact section within the footer section */
.footerContainer .prodContainer .contInner li{
    padding-left: var(--paddingHalf);
}

.footerContainer .prodContainer ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--secondaryColor);
    transition: 0.5s ease color;
    font-weight: var(--fontWeight6);
}

.footerContainer .prodContainer ul li a:hover {
    color: var(--highlight);
    transition: 0.5s ease color;
}

.footerContainer .prodContainer.footPrivacy,
.footerContainer .quickLinks {
    margin: 20px 0 20px 0;
    
}

.footerContainer .quickLinks ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

footer .footerDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 50px;
}

footer .footerDescription ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* THIS IS FOR FOOTER SECTION OF INDEX AND CONTACT  */
footer .footerDescription ul li a,
.footerContact div ul li a{
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease color;
    
}

footer .footerDescription ul li a:hover,
.footerContact div ul li a:hover{
    transition: 0.5s ease color;
    color: var(--highlight);
}

footer .footerDescription .socialMediaContainer i{
    transform: scale(1); 
    transition: 0.5s ease transform, color 0.3s ease-in-out;
    
}

footer .footerDescription .socialMediaContainer i:hover{
    transform: scale(1.5);
    transition: 0.5s ease transform, color 0.3s ease-in-out;
    color: var(--highlight);
}

.footerContact div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footerContact div ul{
    display: flex;
    gap: 1rem;
    
}

/* THIS IS FOR PRIVACY POLICIES AND TERMS OF USE  */
.privacyContainer{
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.privacyContainer .pAdminContainer{
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
    align-items: center;
}

.privacyContainer .pAdminContainer figure{
    width: 35px;
    height: 35px;
    text-align: center;
    place-content: center;

}

.privacyContainer .pAdminContainer figure img{
    border-radius: var(--bRadiusHalf);

}

.privacyContainer .pAdminContainer p{
    color: var(--thinWhite);
}

.privacyContainer .privacyHero li a{
    color: var(--primaryColor);
}

.privacyContainer .privacyContent p,
.privacyContainer .privacyContent li,
.privacyContainer .privacyContent i{
    color: var(--darkFormInputColor)  !important;
}

.privacyContainer .privacyContent .privacyHero div{
    display: flex;   
    gap: 1rem;
    margin-top: var(--paddingHalf);
    margin-bottom: var(--paddingHalf);
    
}

.privacyContent .privacyHero h1,
.privacyContent h2{
    margin-top: var(--paddingHalf);
    margin-bottom: var(--paddingHalf);
}

.privacyContent .privacyHero p{
    margin-bottom: var(--paddingHalf);
}

.privacyContainer .privacyContent .privacyHero div li{
    padding: var(--paddingHalf) 5px var(--paddingHalf) ;
    background-color: var(--svgColorOverlay);
    color: var(--primaryColor);
    
}

.privacyContainer .privacyContent p{
    color: var(--thinBlack);
}

@media screen and (min-width: 300px) {
    .capContainer {
        max-width: 430px;
    }

    /* modal decode qr code     */
    .modalContainer .dataRetrived {
        max-width: 300px;
    }
            
}

@media screen and (min-width: 320px) {
    .capContainer {
        width: 100%;
        max-width: 320px;
    }
    
}

@media screen and (min-width: 390px) {
    .capContainer {
        width: 100%;
        max-width: 360px;
    }
    
}

@media screen and (min-width: 476px) {

    .featureContainer{
        align-items: center;
    }


    .featureContainer .featureInner .featureEle .item{
        padding: 1rem;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.247);
        max-width: 460px;

    }
}

@media screen and (min-width: 578px) { 
    .modal{
        width: 65%;
        height: 20%;
    }

    .modal .dataRetrived{
        width: 75%;
        
    }

    .featureContainer .featureInner .featureEle {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    
    .featureContainer .featureInner .featureEle .item{
       width: 48%;
       max-height: 150px;
    }

    .footInner{
        display: flex;
        gap: 2rem;
    }

   
}

@media screen and (min-width: 768px) {

    .main {
        flex-direction: row;
        gap: 1rem;
        padding: var(--padding);
        justify-content: center;
        align-items: center;
        place-content: center;
    }

    .featureContainer .featureInner .featureEle {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .featureContainer .featureInner .featureEle .item{
       width: 48%;
       max-height: 150px;
    }

    .featureContainer{
        align-items: center;
    }

    .howContainer .howInner{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .howContainer .scanFromImage{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .howContainer .howEle{
        flex-direction: row;
        
    }

    .footer .footerContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .footInner{
        flex-direction: column;
        
    }
    .footer .footerBrand{
        gap: 1rem;
        
    }

    /* this is for contact page */
    .contactHero {
        place-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .contactHero,
    .formContainer {
        padding: 2rem;
    }

    .formContainer .formHeading {
        padding: 2rem;
    }

    .quickDetailContainer {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        gap: 2rem;
    }

    .quickDetailContainer .quickCallService {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .formContainer .submitBtn {
        font-size: 1.5rem;
        font-weight: var(--fontWeight8);
        margin-top: 1rem;
    }

}

@media screen and (min-width: 992px) {
    header{
        padding: 1rem;
    }

    .landingHero{
        padding: 10rem;
        margin: auto;
    }

    .landingHero p{
        padding: 1rem;
        margin: auto;
        width: 70%;
    }

    .capContainer {
        width: 100%;
        max-width: 500px;
        max-height: 500px;
        margin: 0;
    }

   /* this is for selecting image section in the home page*/
   .previewBox {
       width: 100%;
       min-width: 300px;
       max-width: 600px;
       height: 400px;
       object-fit: cover;
       text-align: center;
       place-content: center;
       font-weight: var(--fontWeight8);
       font-size: 1.55rem;
       transition: all 0.3s ease;
       /* Note: to remove cursor when this element is inspecting in the Dev  */
       padding: 0.2rem;
       /* pointer-events: none; */

   }

   /* The Image itself */
   .previewBox img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       /* Ensures the image fills the container perfectly */
       cursor: pointer;
       transition: opacity 0.3s ease;
   }
    
    .howContainer .howInner {
       padding: 1rem;
       margin: 0;
    }

    .featureContainer .featureInner{
        padding: 1rem;
    }

    .featureContainer .featureInner .featureEle{
        justify-content: space-between;
        
    }
    .queContainer section{
        padding: 2rem;
    }
    
    .footer{
        margin: 2rem;
        border-radius: 70px;
        padding: 2rem;
    }
    
    .footerContainer {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footerDescription{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* this is for contact page */
    .contactHero {
        place-content: center;
        text-align: center;
        margin-top: 20px;
        font-size: 1.25rem;
    }

    .contactHero h1{
        font-size: 2rem;
    }

    .contactHero,
    .formContainer {
        padding: 4rem;
       
    }

    .formContainer {
        font-size: 2rem;
    }

    .formContainer .formInner{ 
        justify-content: space-between;
        align-items: stretch;
        padding-bottom: 1rem;
    }

    .formContainer .formInner input,
    .formContainer textarea{
       font-size: 1.25rem;
    }
    .formContainer .formInner input:first-child{
        width: 50%;
        padding: 2rem;
        margin-right: 0.5rem;
    }

    .formContainer textarea{
        padding: 2rem;

    }

    .formContainer .formInner input:nth-child(3){
        padding: 1rem;
    }

    .formContainer .formHeading {
        padding: 2rem;
    }

    .quickDetailContainer {
        width: 80%;
        margin: auto;
        
    }

    /* THIS IS FOR PRIVACY AND TERMS PAGE */
    .privacyContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 1rem;
        align-items: flex-start;
        margin: auto;
        width: 80%;
    }

    .privacyContainer .pAdminContainer {
        margin-top: 8px;
        margin-bottom: 0;
    }
    
    .privacyContent .privacyHero h1{
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {
    .howContainer .howInner{
        width: 90%;
        margin: auto;
    }

    .howContainer .howInner .howEle{
        width: 70%;
    }

    .howContainer .howInner.scanFromImage{
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .featureContainer .featureInner h1,
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: 1.5rem;
    }
    
    .howContainer .howInner,
    .featureContainer,
    .queContainer,
    .formContainer,
    .contactHero,
    .footer{
       width: 85%;
       max-width: 1320px;
       margin: auto;
        
    }

    section .quickDetailContainer{
        z-index: 100;
        width: 85%;
        max-width: 1320px;
    }
}

@media screen and (min-width: 1400px) {

}

@media (prefers-color-scheme: light) {

    /* The slider */
    .slider {
        background-color: var(--primaryColor);
        border: 1px solid var(--thinWhite);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: var(--secondaryColor);
        border: 1px solid var(--thinWhite);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px var(--secondaryColor);
    }

    html {
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
        transition: 0.5s ease;
    }


    .landingHero{
        background-color: var(--thinBlack);
        color: var(--primaryColor);
    }

    .landingHero h1{
        color: var(--primaryColor);
    }

    .landingHero p{
        color: var(--thinWhite);
    }

    body {
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
        transition: 0.5s ease;
    }

    header {
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
    }

    .capContainer {
        box-shadow: var(--box-shadow);
        background-color: #121315;
    }

    .capContainer .capture {
        border: 1px solid var(--thinWhite);
    }

    .capContainer .flashlight i {
        border-color: var(--thinWhite);
        color: var(--primaryColor);
    }

    .capContainer .previewBox {
        color: var(--primaryColor);
    }

    .featureContainer h1 {
        color: var(--primaryColor);

    }
    .featureContainer .featureInner .featureEle {
        color: var(--primaryColor);

    }

    .featureContainer .featureInner .featureEle .item {
        background-color: var(--thinBlack);
        color: var(--primaryColor);

    }

    .featureContainer .featureInner .featureEle .item h3{
        color: var(--primaryColor);

    }

    .featureContainer .featureInner .featureEle .item p{
        color: var(--thinWhite);

    }

    .howContainer{
        background-color: var(--svgColorOverlay);
    }

    .howContainer .howEle h1,
    .howContainer .howEle h3{
        color: var(--primaryColor);
    }

    .howContainer .howEle p{
        color: var(--thinWhite);
    }

    .howContainer .howEle ul li{
        color: var(--thinWhite);
    }

    .howContainer .howInner figure{
        background-color: var(--primaryColor);
        border-color: var(--secondaryColor);
    }

    .howContainer{
        color: var(--primaryColor);
    }

    .queContainer h1{
        color: var(--primaryColor);
    }
    .queContainer .queItem{
        background-color: var(--thinBlack);
        color: var(--primaryColor);
    }

    .queContainer .queItem h3{
        color: var(--primaryColor);
    }

    .queContainer .faqAnswer{
        color: var(--thinWhite);
    }

    /* footer section */
    .footer {
        border-top: 1px solid var(--thinBlack);
        border-left: 1px solid var(--thinBlack);
        border-right: 1px solid var(--thinBlack);
        border-bottom: 1px solid var(--thinBlack);
    }

    .footer h3{
        color: var(--primaryColor);
    }

    .footer .footerContainer p{
        color:var(--thinWhite);
    }

    .footer .footerContainer .prodContainer li,
    .footer .footerContainer .prodContainer p,
    .footer .footerContainer .prodContainer a{
        color: var(--thinWhite);
    }

    .footer .footerContainer li,
    .footer .footerDescription li a,
    .footer .contInner a{
        color: var(--thinWhite);
    }
    .footer a{
        color: var(--thinWhite);
    }


    /* THIS IS FOR CONTACT PAGE THEME STYLING */
    .formContainer h1,
    .contactHero h1{
        color: var(--primaryColor);
    }


    .formContainer input,
    .formContainer textarea{
        background-color: var(--thinBlack);
        color: var(--primaryColor);
        border-color: var(--thinWhite);
    }
    .formContainer .submitBtn{
        border: none;
    }

    .formContainer p,
    .contactHero p{
        color: var(--thinWhite);
    }

    .quickDetailContainer .quickHeading h3{
        color: var(--primaryColor);
    }

    .quickDetailContainer p,
    .quickDetailContainer li{
        color: var(--primaryColor);
    }

    .footerContact div ul a{
        color: var(--thinWhite);
    }
    /* it handle the dark theme for privacy */
    .privacyContainer h2,
    .privacyContainer h3,
    .privacyContent .privacyHero h1 {
        color: var(--primaryColor);
    }

    .privacyContainer .privacyContent p,
    .privacyContainer .privacyContent li,
    .privacyContainer .privacyContent i {
        color: var(--thinWhite) !important;
    }

    .footerContact ul li a {
        color: var(--thinWhite) !important;
    }

    .footerContact ul li a:hover {
        color: var(--highlight      ) !important;
    }
}







